<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>直播吧定制过滤</title>

    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>


<div class="container">
    <div class="input__wrapper">
        <input class="input-form" type="text" placeholder="输入喜欢的球队">
    </div>


    <table>
        <thead>
        <tr>
            <th>TIME</th>
            <th>GAME</th>
            <th>BROADCAST</th>
        </tr>
        </thead>
        <tbody>
        {% for game in showListReady %}
        <tr>
            <td class="firstColumn">
                <div class="dateClass">{{game[0][0]}}</div>
                <div class="timeClass">{{game[0][1]}}</div>
            </td>
            <td class="secondColumn">
                <span class="teamName">{{game[1][0][0]}}</span>
                <span></span>
                <span class="VS">VS</span>
                <span></span>
                <span class="teamName">{{game[1][0][1]}}</span>
                {% for tag in game[1][1] %}
                <span class="leagueName">{{tag}}</span>
                {% endfor %}
            </td>
            <td class="thirdColumn">
                {% for broadcast in game[2] %}
                <span class="broadcast">{{broadcast}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</body>

</html>
